{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center" ><h1> Liste des locations disponible </h1> <br/>
<br>

    <table class="table_striped">
{% for message in app.flashes('success') %}
    <div class="flash-notice">
        <span class="alert alert-success">{{ message }}</span>
    </div>
{% endfor %}
        <thead>
            <tr>              
                <th>Titre</th>
                <th>Lieu</th>
                <th>Prix</th>
                <th>Photo</th>
                <th>Rating</th>
            </tr>
        </thead>

        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.titre }}</td>
                <td>{{ location.lieu }}</td>
                <td>{{ location.prix }}</td>
                <td>{{ location.photo }}</td>
                <td>{{ location.rating }}</td>
              
                <TD>
         <a href="{{ path('location_show', { 'id': location.id }) }}" class="btn btn-primary btn-sm">show</a>
         <a href="{{ path('location_edit', { 'id': location.id }) }} " class="btn btn-warning btn-sm"> Modifier </a>
         <a href="/delete/ {{ location.id }}" class="btn btn-danger btn-sm"> Supprimer </a>
                </Td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('location_new') }}" class ="btn btn-default">Create a new location</a>
        </li>
    </ul>
{% endblock %}



