{% extends 'base.html.twig' %}


{% block body %}

<!-- Page Content -->
    <div class="container">
  
          {% block title %} Velo.tn {% endblock %}
          <div class="text-center" ><h1> Affichage location: locataire/client </h1> <br/> </div>
            <br>
           
              <a href="{{ path('location_show',{'id':location.id}) }}" </a>
        
            <img class="card-img-top img-fluid" src="{{ asset(location.photo) }}" alt="" style="width:12.5em">
          <div class="card-body">
              <h3 class="card-title">{{ location.titre }}</h3>
              <h4>{{ location.prix }}DT</h4>
              <h4>{{ location.rating }}</h4>
              <br><br>

            <div>
              <TR>
              {% if is_granted ('ROLE_VISITEUR') %}  <!--client--> 
                <td>    
                  <a href="{{ path('reservation_new') }}" class="btn btn-primary btn-sm">Reserver</a>
                </td>
                {% elseif is_granted ('ROLE_ADMIN') %}
                <td>  <!--locataire-->                    
                  <a href="{{ path('location_edit', { 'id': location.id }) }} " class="btn btn-warning btn-sm"> Modifier </a> 
                </td>
                {% endif %}
              </TR>
            </div>
          </div>
          <!-- /.card -->

      </div>
    </div>
    <!-- /.container -->
      <br>   <br>   <br> 
{% endblock %}