{% extends 'base.html.twig' %}

{% block body %}

<!-- Page Content -->
    <div class="container">
      <div class="row">
          {% block title %}<div class="text-center" ><h1> location </h1> <br/>{% endblock %}
            <br>
          <div class="list-group">      
              <a href="{{ path('location_show',{'id':location.id}) }}" </a>
          </div>
        </div> 
            <img class="card-img-top img-fluid" src="{{ asset(location.photo) }}" alt="" style="width:12.5em">
            <div class="card-body">
              <h3 class="card-title">{{ location.titre }}</h3>
              <h4>{{ location.prix }}DT</h4>
              <h4>{{ location.rating }}</h4>
              <br><br>
                            <div>
                              <a href="{{ path('reservation_new') }}" class="btn btn-primary">Reserver</a>
                              <a href="{{ path('location_index') }}" class="btn btn-primary"> Back to the list </a>
                            </div>
          </div>
          <!-- /.card -->

      </div>
    </div>
    <!-- /.container -->
{% endblock %}